# Operating System
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment Variables
.env
.env.*

# AWS Credentials
.aws/
credentials

# Python
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Logs
*.log